.idea/*
.fleet/*
.vscode/*
node_modules/*
build/*
typings/*
npm-debug.log
dist/
lib/
**/mb*.log
**/mb*.pid
**/pm2*
*.tgz
project/node_modules/
integration-tests/node_modules/
integration-tests/mb*.log*
integration-tests/mb.pid
project/readme.md
